<header>
    <div class="inner-container header-container">
      <nav class="nav-bar dis-fl">
        <div class="logo">
          <a href="#">
            <img src="./images/logo.png" alt="logo" />
          </a>
        </div>
        <div class="nav-menu-container dis-fl">
          <div class="nav-menu">
            <ul class="nav-menu-list dis-fl open-sans-semibold">
              <li class="nav-menu-item"><a href="#">Destinations</a></li>
              <li class="nav-menu-item"><a href="#">Hotels</a></li>
              <li class="nav-menu-item"><a href="#">Flights</a></li>
              <li class="nav-menu-item"><a href="#">Bookings</a></li>
            </ul>
          </div>
          <div class="left-nav-container">
            <ul class="nav-login-list dis-fl open-sans-semibold">
              <li class="nav-login-item"><a href="#">Login</a></li>
              <li class="nav-login-item border"><a href="#">Signup</a></li>
              <li class="nav-login-item">
                <a href="#">EN <i class="fa fa-angle-down"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
