
<app-parent></app-parent>


<!-- 
<app-sizer [(size)]="fontSize"></app-sizer>
<app-sizer [size]="fontSize" (sizeChange)="fontSize=$event"></app-sizer>

<p>{{ fontSize }}</p>
<p [style.font-size.px]="fontSize">Resizable Text</p>
<br />

<app-directives></app-directives>

<p appHighlight="cyan">
  AngularJS was developed in 2008-2009 by Misko Hevery and Adam Abrons and is
  now maintained by Google. AngularJS is a Javascript open-source front-end
  framework. It is used to develop single-page web applications (SPAs).<br />
  It is a continuously growing and expanding framework which provides better
  ways for developing web applications.<br />
  In this AngularJS tutorial, we will explore the key concepts, features, and
  steps to kickstart your journey in creating robust and interactive web
  applications.
</p>

<img src="traveller.png" alt="traveller.png" appProfile/>

<h1>Service</h1>
<div>
  <h2>Student data from API</h2>
  <div *ngFor="let student of students">
    Name: {{ student.name }}, Age: {{ student.age }}
  </div>
</div>
<div>
  <h2>Data:</h2>
  <ul>
    <li *ngFor="let mark of studentMarks">{{ mark }}</li>
  </ul>
  <input [(ngModel)]="newMark" placeholder="New item..." />
  <button (click)="addMark()">Add</button>
</div>
-->

<!-- <div>
  <nav>
    <ul>
      <li><a routerLink="/first-component">First Component</a></li>
      <li><a routerLink="/second-component">Second Component</a></li>
    </ul>
  </nav>
</div> -->

<!-- <div class="container main-container">
  <router-outlet />
</div> -->
